@charset "utf-8";

html, body {
	height: 100%;
}
.carousel, .item, .active {
	height: 100%;
}
.carousel-inner {
	height: 100%;
}
.fill-image {
	width: 100%;
	height: 100%;
	background-position: center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}
.carousel-caption {
	top: 0;
	bottom: auto;
}

/* Estilo de la Barra de Navegacion */
.navbar-default{
	background-color: #70003C !important;
}
.navbar-default .navbar-brand {
    color: #ffffff !important;
}
.navbar-default .navbar-nav>li>a {
	color: #ffffff !important;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #70003C !important;
}
.navbar-default .navbar-toggle {
    border-color: #70003C !important;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff !important;
}
/* FIN Estilo de la Barra de Navegacion */
.btn-custom {
    color: #ffffff !important;
    background-color: #70003C !important;
    border-color: #70003C !important;
}
.btn-custom.active.focus, .btn-custom.active:focus, .btn-custom.active:hover, .btn-custom:active.focus, .btn-custom:active:focus, .btn-custom:active:hover, .open>.dropdown-toggle.btn-custom.focus, .open>.dropdown-toggle.btn-custom:focus, .open>.dropdown-toggle.btn-custom:hover {
    color: #ffffff !important;
    background-color: #70003C !important;
    border-color: #70003C !important;
}


.bg-custom {
    color: #ffffff !important;
    background-color: #70003C !important;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #70003C !important;
    background-color: #ffffff !important;
}