@charset "utf-8";

.firstImage { background-image: url('../images/banners/1.png'); }
.secondImage { background-image: url('../images/banners/2.jpg'); }
.thirdImage { background-image: url('../images/banners/3.jpg'); }
.fourImage { background-image: url('../images/banners/4.jpg'); }
