:root {
    --black: #000000;
    --white: #FFFFFF;
    --ob: #5BC0DE;
    --ac: #D0033D;
    --td: #DDA217;
    --i: #47BBA4;
    --tm: #3782C4;
    --e: #FE9D3B;
    --ir: #0353E7;
    --rv: #D9534F;
    --ca: #553591;
    --crud: #E8EB3B;
    --p: #EC5BA4;
    --pi: #5CB85C;
}