html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

body>.container {
    padding: 60px 15px 0;
}

.container .text-muted {
    margin: 20px 0;
}

body>.container-fluid {
    padding: 60px 15px 0;
}

.container-fluid .text-muted {
    margin: 20px 0;
}

.panel.panel-default {
    border-top-width: 3px;
}

.panel {
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .14), 0 2px 2px 0 rgba(0, 0, 0, .098), 0 1px 5px 0 rgba(0, 0, 0, .084);
    border: 0;
    border-radius: 4px;
    margin-bottom: 16px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
}

.footer>.container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}