@import url('./_variables.css');
@import url('./basic.css');

:root {
    --app-background-color: var(--ob);
    --app-text-color: var(--white);
}

.ob {
    background-color: var(--app-background-color);
    color: var(--app-text-color);
}

.container .text-muted {
    color: var(--app-text-color) !important;
}

.footer {
    background-color: var(--app-background-color) !important;
}

/* CAMBIOS DE COLOR PARA LA BARRA DE NAVEGACIÓN */

.navbar-default {
    background-color: var(--app-background-color) !important;
}

.navbar-default .navbar-brand {
    color: var(--app-text-color) !important;
}

.navbar-default .navbar-nav>li>a {
    color: var(--app-text-color) !important;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: var(--app-background-color) !important;
}

.navbar-default .navbar-toggle {
    border-color: var(--app-background-color) !important;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: var(--app-text-color) !important;
}